#logo{
  background:#00c5cd;
  font-style: italic;
   font-family: "cursive";
  font-weight: bold;
  color:#ec300f
}

.button, legend {
  text-align: center;
}

.myContainer {
  position: fixed;
}

.myList {
  padding-top: 400px;
}

.myList table {
  background-color: white
}